.red{
	width:100%;
	float:left;
	min-height: 1px;
}

.red.jedan {

	width: 100%;
	height: 2%;
}

.red.dva {
    width: 100%;
    height: 80%;
}

.red.tri {
	height: 90%;
	width: 100%;
}

.red.cetiri {
	height: 5%;
	width: 100%;
}

.kolona{
	display: inline-block;
	float: left;
	min-height: 20px;
}

.kolona.jedan {
	width: 25%;
	height: 100%;
}

.kolona.dva {
	height: 100%;
	width: 75%;
}

.kolona.tri {
	width: 5%;
	height: 100%;
}

.kolona.cetiri {
	width: 90%;
	height: 100%;
}

#inputBox {
	background-color: #313131;
}

.input {
	text-align: center;
	color: white;
	background-color: black;
	padding-top: 7%;
	height: 10%;
}

.inputBoxBox {
	width: 100%;
	background-color: #898989;
}

.input:hover {
	color: #00ff00;
	background-color: #121212;
	cursor: pointer;
}

#kalendar {
	background-color: black;
}