
#meni {
	position: absolute;
	top: 2%; right: 0; bottom: 0; left: 0;
	background-color: #252525;
	width: 100%;
	height: 7%;
}

#tools {
	position: absolute;
	width: 250px;
	height: 300px;
	background-color: #252525;
	top: 85px;
	left: 25px;
}

#grupa {
	text-align: center;
	color: white;
	padding-top: 15px;
	height: 35px;
	width: 100%;
	border-bottom: 1px solid #999999;
}

#grupaEdit {
	background-color: #999999;
	width: 100%;
	--height: 180px;
}

#obaveza {
	text-align: center;
	color: white;
	padding-top: 15px;
	height: 35px;
	width: 100%;
	border-bottom: 1px solid #999999;
}

#obavezaEdit {
	background-color: #999999;
	width: 100%;
	--height: 180px;
}

#grupa:hover, #obaveza:hover {
	background-color: #454545;
}

#calendar {
	position: absolute;
	top: 85px;
	left: 300px;
	width: 75%;
	height: 75%;
	background-color: #252525;

}

#dugmejedan {
	position: absolute;
	left: 300px;
	width: 200px;
	height: 35px;
	top: 610px;
	background-color: #252525;
	padding-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

#dugmedva {
	position: absolute;
	left: 525px;
	width: 200px;
	height: 35px;
	top: 610px;
	background-color: #252525;
	padding-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}